In [19]:
from omegaconf import OmegaConf


data_ingestion_config = OmegaConf.load("configs/data_ingestion.yaml")
print(data_ingestion_config)

FileNotFoundError: [Errno 2] No such file or directory: '/mnt/c/Users/peniel/Desktop/Projects/real-time-air-quality-index-prediction/notebooks/configs/data_ingestion.yaml'

In [23]:
import pandas as pd 
from pathlib import Path

df = pd.read_csv(Path("../Artifacts/train.csv"))

In [24]:
df.info

<bound method DataFrame.info of           Price               Close                High                Low  \
0        Ticker                GC=F                GC=F               GC=F
1          Date                 NaN                 NaN                NaN
2    2021-01-04   1944.699951171875  1945.0999755859375  1912.199951171875
3    2021-01-05   1952.699951171875   1952.699951171875  1941.300048828125
4    2021-01-06  1906.9000244140625  1959.9000244140625             1901.5
..          ...                 ...                 ...                ...
750  2023-12-22    2057.10009765625   2068.699951171875  2052.199951171875
751  2023-12-26   2058.199951171875   2060.800048828125  2054.199951171875
752  2023-12-27    2081.89990234375    2081.89990234375  2064.800048828125
753  2023-12-28    2073.89990234375   2087.300048828125             2066.5
754  2023-12-29    2062.39990234375    2068.89990234375   2062.10009765625

                  Open Volume
0                 GC=F   GC=F
1                  NaN    NaN
2    1912.199951171875    154
3    1941.699951171875    113
4               1952.0    331
..                 ...    ...
750  2055.699951171875    202
751             2060.0     64
752  2067.300048828125    586
753   2081.60009765625    338
754             2068.0     47

[755 rows x 6 columns]>

In [25]:
df_dropped = df.iloc[2:].reset_index(drop=True)

In [26]:
df_dropped

,Price,Close,High,Low,Open,Volume
0,2021-01-04,1944.699951171875,1945.0999755859375,1912.199951171875,1912.199951171875,154
1,2021-01-05,1952.699951171875,1952.699951171875,1941.300048828125,1941.699951171875,113
2,2021-01-06,1906.9000244140625,1959.9000244140625,1901.5,1952.0,331
3,2021-01-07,1912.300048828125,1926.699951171875,1912.0,1922.5999755859375,122
4,2021-01-08,1834.0999755859375,1908.0,1834.0999755859375,1908.0,60
...,...,...,...,...,...,...
748,2023-12-22,2057.10009765625,2068.699951171875,2052.199951171875,2055.699951171875,202
749,2023-12-26,2058.199951171875,2060.800048828125,2054.199951171875,2060.0,64
750,2023-12-27,2081.89990234375,2081.89990234375,2064.800048828125,2067.300048828125,586
751,2023-12-28,2073.89990234375,2087.300048828125,2066.5,2081.60009765625,338
752,2023-12-29,2062.39990234375,2068.89990234375,2062.10009765625,2068.0,47

In [29]:
df = df_dropped.copy()
df.Price

0      2021-01-04
1      2021-01-05
2      2021-01-06
3      2021-01-07
4      2021-01-08
          ...
748    2023-12-22
749    2023-12-26
750    2023-12-27
751    2023-12-28
752    2023-12-29
Name: Price, Length: 753, dtype: object

In [32]:
df.rename(columns={"Price" : "Date"}, inplace=True)

In [33]:
df

,Date,Close,High,Low,Open,Volume
0,2021-01-04,1944.699951171875,1945.0999755859375,1912.199951171875,1912.199951171875,154
1,2021-01-05,1952.699951171875,1952.699951171875,1941.300048828125,1941.699951171875,113
2,2021-01-06,1906.9000244140625,1959.9000244140625,1901.5,1952.0,331
3,2021-01-07,1912.300048828125,1926.699951171875,1912.0,1922.5999755859375,122
4,2021-01-08,1834.0999755859375,1908.0,1834.0999755859375,1908.0,60
...,...,...,...,...,...,...
748,2023-12-22,2057.10009765625,2068.699951171875,2052.199951171875,2055.699951171875,202
749,2023-12-26,2058.199951171875,2060.800048828125,2054.199951171875,2060.0,64
750,2023-12-27,2081.89990234375,2081.89990234375,2064.800048828125,2067.300048828125,586
751,2023-12-28,2073.89990234375,2087.300048828125,2066.5,2081.60009765625,338
752,2023-12-29,2062.39990234375,2068.89990234375,2062.10009765625,2068.0,47

In [7]:
import yfinance as yf 



ticker = "GC=F"
data = yf.download(tickers=ticker, start="2021-01-01", end="2023-01-01")

[*********************100%***********************]  1 of 1 completed

In [8]:
data

Price             Close         High          Low         Open Volume
Ticker             GC=F         GC=F         GC=F         GC=F   GC=F
Date
2021-01-04  1944.699951  1945.099976  1912.199951  1912.199951    154
2021-01-05  1952.699951  1952.699951  1941.300049  1941.699951    113
2021-01-06  1906.900024  1959.900024  1901.500000  1952.000000    331
2021-01-07  1912.300049  1926.699951  1912.000000  1922.599976    122
2021-01-08  1834.099976  1908.000000  1834.099976  1908.000000     60
...                 ...          ...          ...          ...    ...
2022-12-23  1795.900024  1802.800049  1794.099976  1794.300049     49
2022-12-27  1814.800049  1826.300049  1803.400024  1803.400024     69
2022-12-28  1807.900024  1807.900024  1803.099976  1803.199951    434
2022-12-29  1819.500000  1819.500000  1805.800049  1805.800049    277
2022-12-30  1819.699951  1822.300049  1816.800049  1817.000000     95

[503 rows x 5 columns]

In [35]:
df.columns

Index(['Date', 'Close', 'High', 'Low', 'Open', 'Volume'], dtype='object')

In [ ]:
# row wise mean and median and  modes 
def generate_features(df: pd.DataFrame):
    y = df.Close 
    features = ['High', 'Low', 'Open', 'Volume']
    X = df[features]
    # aggregations